<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vue Volume Calc</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<div class="container">
			<!-- page content -->
			<div id="app" class="panel-group">
				<h2>Additive Volume Calculator</h2>
				<p>
					Each row calculates one "block" of volume (length x width x height).  The total volume is displayed at the top of the page.
				</p>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="form-inline">
							<div class="form-group">
								<label>Total Volume</label>
								<input
									class="form-control"
									disabled="disabled"
									v-model="totalVolume"
									>
							</div>
							<button class="btn" v-on:click="addRow">Add Row</button>
						</div><!-- .form-inline -->
					</div><!-- .panel-heading -->

					<ul class="list-group">
						<li
							class="list-group-item"
							v-for="(row, index) in rows"
							v-bind:row="row">

							<div class="form-inline">
								<div class="form-group">
									<label>Length</label>
									<input class="length form-control"
										placeholder="length"
										v-model="row.length"
										v-on:blur="calcVol(row)"
										v-on:keyup.enter="calcVol(row)">
								</div>
								<div class="form-group">
									<label>Width</label> <input
										class="width form-control"
										placeholder="width"
										v-model="row.width"
										v-on:blur="calcVol(row)"
										v-on:keyup.enter="calcVol(row)">
								</div>
								<div class="form-group">
									<label>Height</label>
									<input class="height form-control"
										placeholder="height"
										v-model="row.height"
										v-on:blur="calcVol(row)"
										v-on:keyup.enter="calcVol(row)">
								</div>
								<div class="form-group">
									<label>Volume</label> <input class="form-control" disabled="disabled" v-model="row.volume">
								</div>
								<button class="btn" @click="removeRow(row)">Delete</button>
							</div><!-- .form-inline -->
						</li>
					</ul>
				</div><!-- .panel panel-default -->
			</div><!-- .panel panel-default -->
		</div><!-- #app .panel-group -->

		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="js/app.js?v=20161231"></script>
	</body>
</html>
